apiVersion: spectrum.cloudflare.upbound.io/v1alpha1
kind: Application
metadata:
  name: example-spectrum-application
  labels:
    testing.cloudflare.upbound.io/require-zone: "true"
spec:
  forProvider:
    zoneIdRef:
      name: example
    protocol: tcp/22
    trafficType: direct
    dns:
      - type: CNAME
        name: ssh.kidp.io
    originDirect:
      - tcp://109.151.40.129:22
